.dadediv-gwh{
  position: relative;
  height: 40px;
  font-size: 12px;
  color: #b0b0b0;
  background: #333;
} 
body{
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
}
.all-gwh{
  position: relative;
  width: 1226px;
  margin-left: auto;
  margin-right: auto;
}
.dadeyemei-35{
  display: block;
  width: 1226px;
  margin-right: auto;
  margin-left: auto;
}
.youyemei-35{
  float: left;
  height: 40px;
  line-height: 40px;
}
.gouwuche-35{
  margin-left: 25px;
  float: right;
}
.zuoyemei-35{
  float: right;
  line-height: 40px;
}
.sep{
  padding: 2px;
  margin: 0 .25em;
  font-family: sans-serif;
}
.midediv{
  float: left;
  margin-top: 22px;

}
.sousuo-gwh{
  position: absolute;
  top: 22px;
  left: 750px;
}
.header{
  display: block;
}
.dabiaoti-gwh{
  position: relative;
  z-index: 10;
  float: left;
  width: 820px;
  height: 88px;
  margin: 0 100px;
  padding: 12px 0 0 30px;
  list-style-type: none;
  font-size: 16px;
}
.biaoti-35{
  float: left;
  display: block;
  padding: 26px 10px 38px;
  color: #333;
}
.dakuang-gwh{
  display: block;
  position: absolute;
  width: 234px;
  height: 460px;
  font-size: 14px;
  top: 88px;
  left: 10px;
  z-index: 21;
  background: #333
}
.hesekuang{
  height: 420px;
  border: 0;
  margin: 0;
  padding: 20px 0;
  list-style-type: none;
}
.hesehang{
  color: #fff;
  position: relative;
  display: block;
  padding-left: 30px;
  height: 42px;
  line-height: 42px;
}
.kaitoutupian{
  position: absolute;
  display: block;
  max-width: 100%;
  top:0px;
  left: 223px;
}
.dakongge-gwh{
  display: block;
padding: 280px 0px;
}